.bg-header, .bg-footer {
    background: #1B998B;
}

.bg-main {
    background: #F8F1FF;
}

a{
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
}

a:hover,
.active
{
    color: white;
}

li {
    list-style: none;
}